:root {
  --font: 'Poppins', sans-serif;

  --hue: 0;
  --background: hsl(var(--hue), 0%, 98%);

  --primary-color: hsl(var(--hue), 58%, 50%);
  --brand-color: hsl(var(--hue), 58%, 96%);
  --font-light-color: hsl(var(--hue), 0%, 100%);
  --font-dark-color: hsl(var(--hue), 0%, 18%);

  --border: hsl(var(--hue), 10%, 90%);

  --nav-height: 7rem;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;

  overflow: overlay;

  text-align: center;

  background-color: var(--background);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--font-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-dark-color);
}

button,
.button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.8);
}

.button {
  background-color: var(--primary-color);
  border-radius: 4rem;

  margin: 3rem 0;
  padding: 1.6rem 3.2rem;

  width: fit-content;

  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-size: 1.4rem;
  font-weight: 600;

  line-height: 1.8rem;

  transition: filter 300ms;

  text-transform: uppercase;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-top: calc(var(--nav-height) + 6rem);
}

section header h4 {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 2rem;

  text-transform: uppercase;
}

section header h1 {
  color: var(--font-dark-color);
}

section .content {
  width: 100%;
  margin-top: 2rem;
}

section .content img {
  width: 80%;
}

.col-a,
.col-b {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.menu-expended {
  overflow: hidden;
}

body.menu-expended > :not(nav) {
  visibility: hidden;
}

body.menu-expended .menu ul {
  position: fixed;
  top: 0;

  background-color: var(--primary-color);

  z-index: 100;
}

body.menu-expended .menu ul li a {
  font-size: 1.8rem;
}

nav {
  height: var(--nav-height);
  background-color: var(--primary-color);

  position: fixed;
  top: 0;

  z-index: 1000;

  width: 100vw;
}

nav .wrapper {
  height: 100%;

  flex-direction: row;
  justify-content: space-between;
}

nav .logo {
  font-size: 2rem;
}

nav .logo,
nav .toggle-menu-container {
  z-index: 1000;
}

nav .menu ul {
  list-style: none;

  position: fixed;
  top: -100%;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  transition: 300ms;
}

nav .menu ul li a {
  transition: 300ms;
}

nav .toggle-menu-container .toggle-menu {
  background-color: var(--primary-color);
  border: none;

  display: flex;
  align-items: center;
}

nav .toggle-menu-container .toggle-menu:nth-child(2) {
  display: none;
}

nav .toggle-menu-container .toggle-menu svg path + path {
  fill: var(--font-light-color);
}

#home .stats {
  background-color: var(--brand-color);
  border-radius: 1rem;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 4rem;
}

.stats .stat h3 {
  font-size: 3.5rem;
  color: var(--font-dark-color);
}

.stats .stat p {
  color: var(--primary-color);
}

#menu .content,
#delivery .content,
#contact .content {
  margin-top: 3rem;
}

#menu .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;

  z-index: 10;
}

#menu .flavor {
  border: 1px solid var(--border);
  padding: 1.5rem 3rem;
  border-radius: 1rem;

  position: relative;
}

#menu .flavor img {
  width: 80%;
}

#menu .flavor:nth-child(2) img {
  width: 68%;
  padding-block: 1rem;
}

#menu .flavor:nth-child(4) img {
  width: 90%;
  margin-bottom: -1.9rem;
}

#menu .flavor header p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#menu .flavor .value-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu .flavor .value-container span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-dark-color);
}

#menu .value-container button {
  background-color: var(--primary-color);

  padding: 1.5rem 3rem;

  border-radius: 2rem 0 1rem 0;

  position: absolute;
  bottom: 0;
  right: 0;

  border: none;

  transition: 300ms;
}

#menu .value-container button:hover {
  filter: brightness(0.8);
}

#menu .flavor .value-container .cart svg path + path {
  fill: var(--font-light-color);
}

#about header {
  margin-bottom: 3rem;
}

#contact {
  margin-top: -1rem;
}

#contact .wrapper {
  align-items: flex-start;
}

#contact .col-a {
  width: 100%;
  align-items: flex-start;
}

#contact header h2 {
  width: 24rem;
}

#contact header h2,
#contact .location {
  text-align: left;
  width: 100%;
  align-items: flex-start;
}

#contact .location {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 3rem;
}

#contact .location svg path {
  stroke: var(--primary-color);
}

#contact .content img {
  width: 100%;

  margin-top: 2rem;

  border-radius: 1rem;
}

footer {
  margin-top: 10rem;
  background-color: var(--primary-color);
}

footer .wrapper {
  padding-block: 4rem;
  align-items: flex-start;

  gap: 3rem;
}

footer .wrapper p {
  text-align: left;

  color: var(--font-light-color);
  line-height: 2;
}

footer .social-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

footer .social-links a:nth-child(1) svg path,
footer .social-links a:nth-child(2) svg path {
  fill: var(--font-light-color);
}

#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;

  background-color: var(--primary-color);
  border-radius: 50%;

  padding: 1rem;

  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

#backToTop.show:hover {
  filter: brightness(0.8);
}

#backToTop svg path + path {
  fill: var(--font-light-color);
}

@media (min-width: 1024px) {
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
  }

  nav .menu ul {
    position: initial;
    flex-direction: row;
  }

  nav .menu ul li a:hover,
  nav .menu ul li a.active {
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--font-light-color);
  }

  .toggle-menu-container {
    display: none;
  }

  section h2 {
    font-size: 4rem;
  }

  #home .wrapper {
    display: grid;
    grid-template-columns: 60rem 1fr;
    grid-template-areas: 'A B' 'C C';
  }

  #home .col-a {
    text-align: left;
    align-items: flex-start;
  }

  #home .col-a h1 {
    font-size: 4.2rem;
    margin-bottom: 2rem;
  }

  #home .content {
    grid-area: C;
  }

  #home .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem;
    gap: 0;

    width: 100%;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #menu .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #delivery .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  #delivery header {
    text-align: left;
    margin-bottom: 5rem;
  }

  #delivery .col-a {
    align-items: flex-start;
  }

  #delivery .col-a .button {
    margin: 0;
  }

  #about .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'B A';
  }

  #about .col-a {
    grid-area: A;
    text-align: left;
  }

  #contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    align-items: center;
  }

  #contact .location {
    margin-bottom: 4rem;
  }

  #contact .content,
  #contact .content img {
    margin: 0;
  }

  #contact .col-a {
    text-align: left;
    align-items: flex-start;
  }

  #contact .col-a h2 {
    width: 80%;
  }

  #contact .col-a .button {
    margin: 0;
  }

  #contact .col-b {
    margin: 0;
  }

  footer .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
